In [36]:
import requests
import pandas as pd
from pandas import json_normalize
from pandas import to_datetime

In [3]:
api_endpoint ='https://openexchangerates.org/api/latest.json?app_id=18e9471057894800a18b0192b52be7f8'

In [4]:
#res=requests.get(api_endpoint,params={'symbols':'MYR'})

res=requests.get(api_endpoint)

In [5]:
res.reason

'OK'

In [6]:
if res.status_code==200:
    data=res.json()
else:
    print(f'error_message:{res.reason}')

In [7]:
print(data)

{'disclaimer': 'Usage subject to terms: https://openexchangerates.org/terms', 'license': 'https://openexchangerates.org/license', 'timestamp': 1709449213, 'base': 'USD', 'rates': {'AED': 3.673, 'AFN': 72.50001, 'ALL': 95.766721, 'AMD': 402.874435, 'ANG': 1.801459, 'AOA': 832, 'ARS': 843.25, 'AUD': 1.53025, 'AWG': 1.8025, 'AZN': 1.7, 'BAM': 1.801833, 'BBD': 2, 'BDT': 109.70727, 'BGN': 1.8052, 'BHD': 0.376883, 'BIF': 2867, 'BMD': 1, 'BND': 1.341932, 'BOB': 6.887466, 'BRL': 4.9547, 'BSD': 1, 'BTC': 1.6156397e-05, 'BTN': 82.857141, 'BWP': 13.768635, 'BYN': 3.271108, 'BZD': 2.014792, 'CAD': 1.35785, 'CDF': 2770, 'CHF': 0.884254, 'CLF': 0.03507, 'CLP': 961.538462, 'CNH': 7.203, 'CNY': 7.1964, 'COP': 3913.12355, 'CRC': 511.759601, 'CUC': 1, 'CUP': 25.75, 'CVE': 101.584607, 'CZK': 23.388, 'DJF': 177.483943, 'DKK': 6.8771, 'DOP': 58.7, 'DZD': 134.793, 'EGP': 30.9, 'ERN': 15, 'ETB': 56.8, 'EUR': 0.92205, 'FJD': 2.2452, 'FKP': 0.790077, 'GBP': 0.790077, 'GEL': 2.65, 'GGP': 0.790077, 'GHS': 12.658345, 'GIP': 0.790077, 'GMD': 67.925, 'GNF': 8600, 'GTQ': 7.785711, 'GYD': 209.120024, 'HKD': 7.8288, 'HNL': 24.765, 'HRK': 6.95078, 'HTG': 132.525837, 'HUF': 363.62, 'IDR': 15701.95, 'ILS': 3.5661, 'IMP': 0.790077, 'INR': 82.84635, 'IQD': 1305.726575, 'IRR': 42042.5, 'ISK': 138.1, 'JEP': 0.790077, 'JMD': 155.920719, 'JOD': 0.709, 'JPY': 150.09493521, 'KES': 144.023208, 'KGS': 89.4207, 'KHR': 4053.623994, 'KMF': 454.525146, 'KPW': 900, 'KRW': 1331.9, 'KWD': 0.3078, 'KYD': 0.833029, 'KZT': 450.817649, 'LAK': 20823.238826, 'LBP': 89255.055125, 'LKR': 308.35186, 'LRD': 191.749975, 'LSL': 19.107284, 'LYD': 4.835, 'MAD': 10.036851, 'MDL': 17.710173, 'MGA': 4525, 'MKD': 56.773684, 'MMK': 2099.053043, 'MNT': 3450, 'MOP': 8.059815, 'MRU': 39.91, 'MUR': 45.789765, 'MVR': 15.4, 'MWK': 1683, 'MXN': 17.0159, 'MYR': 4.7455, 'MZN': 63.850001, 'NAD': 19.107284, 'NGN': 1582.294907, 'NIO': 36.685248, 'NOK': 10.519702, 'NPR': 132.571439, 'NZD': 1.637734, 'OMR': 0.384908, 'PAB': 1, 'PEN': 3.76876, 'PGK': 3.73005, 'PHP': 56.027507, 'PKR': 278.330259, 'PLN': 3.983509, 'PYG': 7286.367969, 'QAR': 3.64075, 'RON': 4.5841, 'RSD': 108.138, 'RUB': 91.743119, 'RWF': 1275, 'SAR': 3.750254, 'SBD': 8.475946, 'SCR': 13.747521, 'SDG': 601, 'SEK': 10.359745, 'SGD': 1.3448, 'SHP': 0.790077, 'SLL': 20969.5, 'SOS': 571.5, 'SRD': 35.395, 'SSP': 130.26, 'STD': 22281.8, 'STN': 22.85, 'SVC': 8.745906, 'SYP': 2512.53, 'SZL': 19.103598, 'THB': 35.801742, 'TJS': 10.945216, 'TMT': 3.51, 'TND': 3.125, 'TOP': 2.372965, 'TRY': 31.389898, 'TTD': 6.783419, 'TWD': 31.5743, 'TZS': 2548.996913, 'UAH': 38.149758, 'UGX': 3911.900164, 'USD': 1, 'UYU': 39.068992, 'UZS': 12472.982639, 'VES': 36.035053, 'VND': 24655, 'VUV': 118.722, 'WST': 2.8, 'XAF': 604.825152, 'XAG': 0.04322549, 'XAU': 0.00048018, 'XCD': 2.70255, 'XDR': 0.753172, 'XOF': 604.825152, 'XPD': 0.00104941, 'XPF': 110.029833, 'XPT': 0.0011273, 'YER': 250.325036, 'ZAR': 19.06204, 'ZMW': 23.497167, 'ZWL': 322}}

In [8]:
type(data)

dict

In [16]:
df_latest_rate =json_normalize(data,sep='_')

In [17]:
df_latest_rate.head()

,disclaimer,license,timestamp,base,rates_AED,rates_AFN,rates_ALL,rates_AMD,rates_ANG,rates_AOA,...,rates_XCD,rates_XDR,rates_XOF,rates_XPD,rates_XPF,rates_XPT,rates_YER,rates_ZAR,rates_ZMW,rates_ZWL
0,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1709449213,USD,3.673,72.50001,95.766721,402.874435,1.801459,832,...,2.70255,0.753172,604.825152,0.001049,110.029833,0.001127,250.325036,19.06204,23.497167,322

In [18]:
df_latest_rate =df_latest_rate.drop(columns=['disclaimer','license'])

In [19]:
df_latest_rate = df_latest_rate.melt(id_vars=['timestamp','base'],var_name='transaction_curr',value_name='exchange_rt')

In [20]:
df_latest_rate[['var1','txn_curr']] =df_latest_rate['transaction_curr'].str.split('_',expand=True)

In [21]:
print(df_latest_rate)

      timestamp base transaction_curr  exchange_rt   var1 txn_curr
0    1709449213  USD        rates_AED     3.673000  rates      AED
1    1709449213  USD        rates_AFN    72.500010  rates      AFN
2    1709449213  USD        rates_ALL    95.766721  rates      ALL
3    1709449213  USD        rates_AMD   402.874435  rates      AMD
4    1709449213  USD        rates_ANG     1.801459  rates      ANG
..          ...  ...              ...          ...    ...      ...
164  1709449213  USD        rates_XPT     0.001127  rates      XPT
165  1709449213  USD        rates_YER   250.325036  rates      YER
166  1709449213  USD        rates_ZAR    19.062040  rates      ZAR
167  1709449213  USD        rates_ZMW    23.497167  rates      ZMW
168  1709449213  USD        rates_ZWL   322.000000  rates      ZWL

[169 rows x 6 columns]

In [22]:
df_latest_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp         169 non-null    int64
 1   base              169 non-null    object
 2   transaction_curr  169 non-null    object
 3   exchange_rt       169 non-null    float64
 4   var1              169 non-null    object
 5   txn_curr          169 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.0+ KB

In [23]:
df_latest_rate =df_latest_rate.drop(columns='var1')

In [24]:
df_latest_rate.head()

    timestamp base transaction_curr  exchange_rt txn_curr
0  1709449213  USD        rates_AED     3.673000      AED
1  1709449213  USD        rates_AFN    72.500010      AFN
2  1709449213  USD        rates_ALL    95.766721      ALL
3  1709449213  USD        rates_AMD   402.874435      AMD
4  1709449213  USD        rates_ANG     1.801459      ANG

In [39]:
df_latest_rate.timestamp =to_datetime(df_latest_rate.timestamp, unit='s')

In [40]:
df_latest_rate.head()

            timestamp base transaction_curr  exchange_rt txn_curr
0 2024-03-03 07:00:13  USD        rates_AED     3.673000      AED
1 2024-03-03 07:00:13  USD        rates_AFN    72.500010      AFN
2 2024-03-03 07:00:13  USD        rates_ALL    95.766721      ALL
3 2024-03-03 07:00:13  USD        rates_AMD   402.874435      AMD
4 2024-03-03 07:00:13  USD        rates_ANG     1.801459      ANG

In [43]:
df_latest_rate['date']= df_latest_rate.timestamp.dt.date

In [44]:
df_latest_rate['time'] = df_latest_rate.timestamp.dt.time

In [45]:
df_latest_rate.head()

,timestamp,base,transaction_curr,exchange_rt,txn_curr,date,time
0,2024-03-03 07:00:13,USD,rates_AED,3.673000,AED,2024-03-03,07:00:13
1,2024-03-03 07:00:13,USD,rates_AFN,72.500010,AFN,2024-03-03,07:00:13
2,2024-03-03 07:00:13,USD,rates_ALL,95.766721,ALL,2024-03-03,07:00:13
3,2024-03-03 07:00:13,USD,rates_AMD,402.874435,AMD,2024-03-03,07:00:13
4,2024-03-03 07:00:13,USD,rates_ANG,1.801459,ANG,2024-03-03,07:00:13

In [47]:
df_latest_rate =df_latest_rate.drop(columns=['timestamp','transaction_curr'])

In [50]:
df_latest_rate.to_csv(r'C:\Users\Muthu\Music\currency_exchange.csv',index=False)

In [69]:
api_endpoint_history='https://openexchangerates.org/api/historical/2023-03-02.json?app_id=18e9471057894800a18b0192b52be7f8'

In [75]:
hist_rt_res =requests.get(api_endpoint_history,params={'symbols':'MYR'})

In [76]:
hist_rt_res.reason

'OK'